/.idea
/.vscode

*.exe
*.bak
*.log
*.tmp
*~

out/
dist/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
